<div class="jumbotron">
  <h1>Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>

  <%= link_to 'About us', home_about_path, class: 'btn btn-default btn-lg' %>
  <%= link_to 'Home', root_path, class: 'btn btn-primary' %>
</div>
